*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#e554731a ;
    height: 80vh;
    padding: 55px;
}
.banner-text{
    text-align: left;
}
.banner-title{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 27px;
}
.banner-dec{
    font-size: 16px;
    color: rgb(73, 73, 73);
    margin-bottom: 23px;
}
.btn{
    background-color: rgb(245, 90, 116);
    color: #fff;
    padding: 15px 25px;
    border: 0;
    border-radius: 7px;
}
.banner-img{
    height: 600px;
    width: 400px;
}
.hotdel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    padding: 0px 65px;
}
.hot-text{
    text-align: center;
}
.hot-title{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hot-dec{
    font-size: 16px;
    color: rgb(73, 73, 73);
    margin-bottom: 18px;
}
.hot-img{
    width: 300px;
    height: 400px;
}
.social-media{
    margin: 65px;
}

.social-text{
    text-align: center;
}
.social-title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 22px;
}
.social-dec{
    font-size: 14px;
    color: rgb(71, 70, 70);
    margin-bottom: 35px;
}
.photo-container{
    display: flex;
    align-items: center;
    gap: 14px;
}
.social-photo{
    height: 242px;
    width: 296px;
}